{{ define "lead_notes.html" }}
    {{ range .LeadNotes }}
    <div class="flex gap-4 rounded-lg bg-gray-100 p-5 dark:bg-gray-700/50">
        <div class="flex-grow">
            <h5 class="flex items-center gap-1 text-sm leading-relaxed">
                <p
                    class="font-semibold text-primary-600 hover:text-primary-400 dark:text-primary-400 dark:hover:text-primary-300">
                    {{ .UserName }}
                </p>
                <span class="opacity-25">•</span>
                <span class="notesDateAdded text-gray-500 dark:text-gray-400">{{ .DateAdded }}</span>
            </h5>
            <p class="mb-1 text-sm leading-relaxed" id="note-{{ .UserName }}">
                {{ .Note }}
            </p>
        </div>
    </div>
    {{ end }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.4.0/purify.min.js" nonce="{{ .Nonce }}"></script>

    <script nonce="{{ .Nonce }}">
        document.addEventListener('DOMContentLoaded', function () {
            {{ range .LeadNotes }}
            const noteId = "note-{{ .UserName }}";
            const content = `{{ .Note | js }}`;
            const sanitizedContent = DOMPurify.sanitize(content);
    
            // Insert sanitized HTML into the element
            document.getElementById(noteId).innerHTML = sanitizedContent;
            {{ end }}
        });
    </script>
{{ end }}
