{{ define "header.html" }}
<header id="page-header"
    class="fixed left-0 right-0 top-0 z-30 flex h-16 flex-none items-center bg-white shadow-sm dark:bg-gray-800">
    <div class="mx-auto flex w-full max-w-10xl justify-center px-4 lg:px-8">
        <!-- Center Section -->
        <div class="flex items-center">
            <a href="/"
                class="group inline-flex items-center gap-2 text-2xl font-bold tracking-wide text-gray-900 hover:text-gray-600 dark:text-gray-100 dark:hover:text-gray-300">
                <img src="https://ydcocktails.s3.us-east-1.amazonaws.com/media/mobile_header.png" alt="yd cocktails logo" />
            </a>
        </div>
        <!-- END Center Section -->
    </div>
</header>
<div id="floatingHeader" style="display: none;"
    class="fixed left-0 right-0 top-0 z-30 flex h-12 mt-16 items-stretch bg-white shadow-sm">
    <!-- Emerald-colored element -->
    <a href="tel:{{ .PhoneNumber }}"
        class="phoneNumberCTA flex-1 flex items-center justify-center bg-emerald-600 text-white text-lg font-bold">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
            class="hi-mini hi-device-phone-mobile inline-block size-5">
            <path d="M8 16.25a.75.75 0 0 1 .75-.75h2.5a.75.75 0 0 1 0 1.5h-2.5a.75.75 0 0 1-.75-.75Z" />
            <path fill-rule="evenodd"
                d="M4 4a3 3 0 0 1 3-3h6a3 3 0 0 1 3 3v12a3 3 0 0 1-3 3H7a3 3 0 0 1-3-3V4Zm4-1.5v.75c0 .414.336.75.75.75h2.5a.75.75 0 0 0 .75-.75V2.5h1A1.5 1.5 0 0 1 14.5 4v12a1.5 1.5 0 0 1-1.5 1.5H7A1.5 1.5 0 0 1 5.5 16V4A1.5 1.5 0 0 1 7 2.5h1Z"
                clip-rule="evenodd" />
        </svg>
        <span class="phoneNumber">{{ .PhoneNumber }}</span>
    </a>

    <!-- Red-colored button -->
    <button name="floatingCTA"
        class="quoteButton flex-1 flex items-center justify-center border border-primary-700 bg-primary-700 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="hi-outline hi-banknotes inline-block size-6">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 18.75a60.07 60.07 0 0 1 15.797 2.101c.727.198 1.453-.342 1.453-1.096V18.75M3.75 4.5v.75A.75.75 0 0 1 3 6h-.75m0 0v-.375c0-.621.504-1.125 1.125-1.125H20.25M2.25 6v9m18-10.5v.75c0 .414.336.75.75.75h.75m-1.5-1.5h.375c.621 0 1.125.504 1.125 1.125v9.75c0 .621-.504 1.125-1.125 1.125h-.375m1.5-1.5H21a.75.75 0 0 0-.75.75v.75m0 0H3.75m0 0h-.375a1.125 1.125 0 0 1-1.125-1.125V15m1.5 1.5v-.75A.75.75 0 0 0 3 15h-.75M15 10.5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm3 0h.008v.008H18V10.5Zm-12 0h.008v.008H6V10.5Z" />
        </svg>
        <span class="ml-2">Get Quote</span>
    </button>
</div>




{{ end }}