{{ define "content.html" }}

<!-- Hero Content -->
{{ template "hero_image.html" . }}
<!-- END Hero -->

<!-- How It Works -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="mx-auto space-y-16 px-4 py-8 lg:px-8 lg:py-8 xl:max-w-7xl">
        <div class="text-center">
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                How our process works
            </h2>
            <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                From start to finish, we try to make the entire process as seamless as possible.<br>
                It takes 3 simple steps that we can accomplish with zero effort.
            </h3>
        </div>

        <nav>
            <ol class="mx-auto grid grid-cols-1 gap-2 sm:gap-4 lg:max-w-[50%]" role="list">
                <li>
                    <a href="javascript:void(0)"
                        class="flex items-center justify-between gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm leading-6 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        <div class="grow">
                            <div class="font-semibold text-primary-600 dark:text-primary-400">
                                Step 1
                            </div>
                            <div>We have a chat about your bartending needs.</div>
                        </div>
                        <div class="flex-none text-primary-600">
                            <svg class="hi-mini hi-check-circle inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)"
                        class="flex items-center justify-between gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm leading-6 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        <div class="grow">
                            <div class="font-semibold text-primary-600 dark:text-primary-400">
                                Step 2
                            </div>
                            <div>We figure out & propose a package that will work for you.</div>
                        </div>
                        <div class="flex-none text-gray-200 dark:text-gray-700">
                            <svg class="hi-mini hi-check-circle inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)"
                        class="flex items-center justify-between gap-2 rounded-lg border border-gray-200 bg-white px-4 py-2 text-sm leading-6 text-gray-800 hover:border-gray-300 hover:text-gray-900 hover:shadow-sm focus:ring focus:ring-gray-300/25 active:border-gray-200 active:shadow-none dark:border-gray-700 dark:bg-gray-800 dark:text-gray-300 dark:hover:border-gray-600 dark:hover:text-gray-200 dark:focus:ring-gray-600/40 dark:active:border-gray-700">
                        <div class="grow">
                            <div class="font-semibold text-primary-600 dark:text-primary-400">
                                Step 3
                            </div>
                            <div>Once agreed, we set-up & deliver.</div>
                        </div>
                        <div class="flex-none text-gray-200 dark:text-gray-700">
                            <svg class="hi-mini hi-check-circle inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                    clip-rule="evenodd" />
                            </svg>
                        </div>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
</div>
<!-- END How It Works -->

<!-- CTA Section -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto grid grid-cols-1 gap-16 px-4 py-8 lg:grid-cols-2 lg:px-8 lg:py-8 xl:max-w-7xl">
        <div class="flex items-center text-center lg:text-left">
            <div class="space-y-8">
                <div>
                    <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                        Work with a local company
                        <span
                            class="underline decoration-primary-500 decoration-4 underline-offset-4 dark:decoration-primary-400">that actually cares.</span>
                    </h2>
                    <h3 class="text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300">
                        That means we'll always be on time, well prepared, and enthused to deliver the best damn service in town.
                    </h3>
                </div>

                <div class="flex justify-center text-left lg:justify-start">
                    <ul class="space-y-5">
                        <li class="flex items-center gap-3">
                            <svg class="hi-outline hi-check-circle inline-block size-6 flex-none text-primary-600 dark:text-primary-400"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <h4 class="font-medium">Let's select a mix of your favorite cocktails.</h4>
                        </li>
                        <li class="flex items-center gap-3">
                            <svg class="hi-outline hi-check-circle inline-block size-6 flex-none text-primary-600 dark:text-primary-400"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <h4 class="font-medium">Our outfits will match your event's theme.</h4>
                        </li>
                        <li class="flex items-center gap-3">
                            <svg class="hi-outline hi-check-circle inline-block size-6 flex-none text-primary-600 dark:text-primary-400"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <h4 class="font-medium">Always punctual. Fully prepared & ready to go.</h4>
                        </li>
                    </ul>
                </div>

                <div class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-center sm:gap-3">
                    <button name="homePageYovaMidCTA"
                        class="quoteButton w-full md:w-3/4 inline-flex items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-6 py-3 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
                        <span>Request A Package For Your Event</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="flex items-center lg:justify-end">
            <div class="aspect-h-3 aspect-w-4 grow overflow-hidden rounded-lg bg-primary-100 dark:bg-primary-950">
                <img src="{{ .YovaMidCTA }}" loading="lazy" alt="Yova mid CTA" />
            </div>
        </div>
    </div>
</div>
<!-- END CTA Section -->

<!-- Features -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-16 xl:max-w-7xl">
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-primary-600 dark:text-primary-500">
                What's so unique about you?
            </div>
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                How we set ourselves apart
            </h2>
            <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                We strive to provide best-in-industry mobile bartending services.<br>
                For us, it comes down to...<br>
            </h3>
        </div>

        <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:gap-8 lg:grid-cols-3">
            {{ range .Features }}
            <div class="flex items-center gap-3">
                <div class="flex flex-none items-center justify-center text-emerald-500 dark:text-emerald-400">
                    <svg class="hi-mini hi-check-circle inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                        <path fill-rule="evenodd"
                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <h4 class="font-semibold">{{ . }}</h4>
            </div>
            {{ end }}
        </div>
    </div>
</div>
<!-- END Features -->

<!-- FAQ -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-16 xl:max-w-7xl">
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-primary-600 dark:text-primary-500">
                Your Questions Answered
            </div>
            <h2 class="text-4xl font-black text-black dark:text-white">
                Frequently Asked Questions
            </h2>
        </div>

        <div
            class="mx-auto max-w-2xl divide-y divide-gray-200 overflow-hidden rounded-lg border border-gray-200 dark:divide-gray-700/50 dark:border-gray-700/50">
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">What types of events do you cater to?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    We specialize in weddings, corporate events, birthday parties, private events, festivals, and more. We can accommodate any occasion where drinks are part of the celebration!
                </p>
            </details>
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">Do you provide the alcohol or should I supply it?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    We can either provide the alcohol for you or work with what you supply. We’ll guide you on quantities and ensure the drinks are tailored to your preferences.
                </p>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Additionally, if anything special is needed for any custom drinks, we'll be sure to let you know.
                </p>
            </details>
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">What do you charge for your service?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Our pricing varies depending on the event size, location, and duration. As well, we take into accounts if you need a portable bars, supplies, glass drinkware, and other variables that will affect the final quote.
                </p>
            </details>
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">Can you create a custom cocktail menu for my event?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Absolutely! Our highly skilled bartenders can design a cocktail menu that matches your event theme or your personal tastes.
                    We also have our signature cocktails that are sure to be hits at most events.
                </p>
            </details>
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">Can you serve non-alcoholic drinks?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    Absolutely, we can do mocktails as well as other soft drinks & juices if requested.
                </p>
            </details>
            <details class="group">
                <summary
                    class="flex cursor-pointer list-none items-center justify-between px-3 py-4 hover:bg-gray-50 group-open:bg-gray-50 dark:hover:bg-gray-800/50 dark:group-open:bg-gray-800/50 [&::-webkit-details-marker]:hidden">
                    <h4 class="text-left font-semibold">Is there a minimum number of guests required?</h4>
                    <div class="opacity-50 group-open:rotate-180">
                        <svg class="hi-mini hi-chevron-down inline-block size-5" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z"
                                clip-rule="evenodd" />
                        </svg>
                    </div>
                </summary>
                <p class="px-3 pb-6 pt-3 leading-7 text-gray-600 dark:text-gray-400">
                    We tend to focus on events with more than 25 people, but some events have less than that and we're willing to work out a deal that is mutually beneficial.
                </p>
            </details>
        </div>
    </div>
</div>
<!-- END FAQ -->

<!-- CTA Section -->
<div class="dark">
    <div class="bg-white dark:bg-gray-800 dark:text-gray-100">
        <div class="container mx-auto space-y-8 px-4 py-16 lg:px-8 lg:py-16 xl:max-w-7xl">
            <div class="text-center">
                <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                    Heard enough?
                    <span class="text-primary-600 dark:text-primary-500">Get started today!</span>
                </h2>
                <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                    Work with a bartending service that doesn't conform to Miami Time.<br>
                    We'll always be on time and prepared to provide a kick ass service for you and your guests.
                </h3>
            </div>

            <div class="flex flex-col gap-4 sm:flex-row sm:items-center sm:justify-center sm:gap-3">
                <button name="homePageLowerCTA"
                    class="quoteButton w-full md:w-1/2 inline-flex items-center justify-center gap-2 rounded-lg border border-primary-700 bg-primary-700 px-6 py-3 font-semibold leading-6 text-white hover:border-primary-600 hover:bg-primary-600 hover:text-white focus:ring focus:ring-primary-400/50 active:border-primary-700 active:bg-primary-700 dark:focus:ring-primary-400/90">
                    <span>Book Your Mobile Bartending Service</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!-- END CTA -->

<!-- Team -->
<div class="bg-white dark:bg-gray-900 dark:text-gray-100">
    <div class="container mx-auto space-y-16 px-4 py-16 lg:px-8 lg:py-32 xl:max-w-7xl">
        <div class="text-center">
            <div class="mb-1 text-sm font-bold uppercase tracking-wider text-primary-600 dark:text-primary-500">
                Who we are
            </div>
            <h2 class="mb-4 text-4xl font-black text-black dark:text-white">
                The people under the hood
            </h2>
            <h3 class="mx-auto text-xl font-medium leading-relaxed text-gray-700 dark:text-gray-300 lg:w-2/3">
                We're the ones burning the midnight oil to deliver premium bartending services.
            </h3>
        </div>

        <div class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:gap-16">
            <div>
                <div class="group relative mb-8 p-4">
                    <div
                        class="absolute inset-0 skew-y-2 rounded-lg bg-primary-100 transition duration-150 ease-out group-hover:-rotate-2 dark:bg-primary-900/50">
                    </div>
                    <img src="{{ .MediaPath }}/yovana.jpg" class="relative rounded-lg shadow" alt="User Avatar" loading="lazy" />
                </div>
                <h4 class="mb-0.5 text-xl font-bold">Yovana</h4>
                <p class="mb-3 font-medium text-gray-600 dark:text-gray-400">
                    Owner
                </p>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Yovana is an entrepreneur and passionate bartender.
                    She enjoys going to the gym, creating content, traveling, and trying out new recipes for cocktails.
                    When not coming up with ideas for new business ventures or lifting weights, she can be found whipping up a delicious michelada.
                </p>
            </div>
            <div>
                <div class="group relative mb-8 p-4">
                    <div
                        class="absolute inset-0 skew-y-2 rounded-lg bg-primary-100 transition duration-150 ease-out group-hover:-rotate-2 dark:bg-primary-900/50">
                    </div>
                    <img src="{{ .MediaPath }}/abba.jpg" class="relative rounded-lg shadow" alt="User Avatar"
                        loading="lazy" />
                </div>
                <h4 class="mb-0.5 text-xl font-bold">Abba</h4>
                <p class="mb-3 font-medium text-gray-600 dark:text-gray-400">
                    Chief Barks Officer
                </p>
                <p class="leading-relaxed text-gray-600 dark:text-gray-400">
                    Abba is an energetic and protective German shepherd.
                    She enjoys patrolling backyards deep into the night, barking at things,
                    barking at critters, barking at people, and chewing on things.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- END Team -->

<div id="popUpModalOverlay" style="display: none;"></div>

<script src="{{ .StaticPath }}/helpers/phoneConversions.js" nonce="{{ .Nonce }}"></script>
{{ end }}