{{ define "content.html" }}
<div id="messages-content" class="flex w-4/5 max-w-full flex-auto flex-col lg:flex-row mx-auto h-[80vh]">
    <!-- Leads -->
    <div class="w-full flex-none flex-col p-4 lg:flex lg:w-120 lg:p-8 h-full">
        <div class="flex flex-auto flex-col items-center justify-start rounded-xl border-2 border-dashed border-gray-200 bg-gray-50 py-4 text-gray-400 dark:border-gray-700 dark:bg-gray-800 overflow-y-auto h-full">
            <ul id="leadsWithMessages" class="overflow-auto w-full flex flex-col" role="listbox">
                {{ template "leads_with_messages_list.html" . }}
            </ul>
        </div>
    </div>
    <!-- END Leads -->

    <!-- Messages -->
    <div class="mx-auto flex w-full flex-col p-4 lg:p-8 h-full">
        <div
            class="flex flex-auto overflow-y-auto items-center justify-center rounded-xl border-2 border-dashed border-gray-200 bg-gray-50 text-gray-400 dark:border-gray-700 dark:bg-gray-800">
            <div id="messages" class="mx-auto max-w-2xl space-y-4 lg:space-y-8">
                Messages
            </div>
        </div>
    </div>
    <!-- END Messages -->
</div>

<div id="alertModal"></div>

<input type="hidden" name="csrf_token" value="{{ .CSRFToken }}" />

<script nonce="{{ .Nonce }}">
    const isVisiblePercentageThreshold = 0.75;
    const messageQueue = [];
    let isProcessing = false;

    function processQueue() {
        if (isProcessing || messageQueue.length === 0) return;

        isProcessing = true;
        const message = messageQueue.shift();

        handleMarkMessageAsRead(message)
            .catch(console.error)
            .finally(() => {
                isProcessing = false;
                processQueue();
            });
    }

    function enqueueMessage(message) {
        if (!messageQueue.includes(message)) {
            messageQueue.push(message);
            processQueue();
        }
    }

    function handleMarkMessageAsRead(message) {
        return new Promise((resolve, reject) => {
            if (message.dataset.isRead === "true") return resolve();

            const messageId = message.dataset.messageId;
            const leadId = message.dataset.leadId;
            const csrfToken = document.querySelector('[name="csrf_token"]');

            const body = new FormData();
            body.set("message_id", messageId);
            body.set("lead_id", leadId);
            body.set("csrf_token", csrfToken.value);
            body.set("is_read", "true");

            fetch(`/crm/message/${messageId}/read`, {
                method: "PUT",
                credentials: "include",
                body: body
            })
                .then(response => {
                    const token = response.headers.get('X-Csrf-Token');
                    if (token) {
                        document.querySelectorAll('[name="csrf_token"]').forEach(csrf_token => csrf_token.value = token);
                    }
                    if (!response.ok) {
                        return response.text().then(err => reject(new Error(err)));
                    }
                    return response.text();
                })
                .then(html => {
                    messages.innerHTML = html;
                    handleBindMessageActions();
                    resolve();
                })
                .catch(err => {
                    alertModal.outerHTML = err.message;
                    reject(err);
                })
                .finally(() => handleCloseAlertModal());
        });
    }

    function handleBindMessageActions() {
        // Mark as read on seen
        const messagesList = document.querySelectorAll(".messageContent");

        if (!messagesList.length) return;

        const observer = new IntersectionObserver(entries => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    enqueueMessage(entry.target);
                }
            });
        }, { threshold: isVisiblePercentageThreshold });

        messagesList.forEach(message => observer.observe(message));
    }

    document.addEventListener("DOMContentLoaded", () => handleBindMessageActions());

	function handleArchiveLead(leadId) {
		const alertModal = document.getElementById("alertModal");

		const data = new FormData();
		const csrfToken = document.querySelector('[name="csrf_token"]');
		if (csrfToken) {
			data.set("csrf_token", csrfToken.value);
		}

		fetch(`/crm/lead/${leadId}/archive`, {
			method: "PUT",
			credentials: "include",
			body: data
		})
			.then((response) => {
				const token = response.headers.get('X-Csrf-Token');
				if (token) {
					const tokens = document.querySelectorAll('[name="csrf_token"]');
					tokens.forEach(csrf_token => csrf_token.value = token);
				}
				if (response.ok) {
					return response.text();
				} else {
					return response.text().then((err) => {
						throw new Error(err);
					});
				}
			})
			.then(_ => {
				handleGetLeadsWithMessages();
			})
			.catch(err => {
				alertModal.outerHTML = err.message;
			})
			.finally(() => handleCloseAlertModal());
	}

    function handleCallLead(phoneNumber) {
        const alertModal = document.getElementById("alertModal");
        const csrfToken = document.querySelector('[name="csrf_token"]');
        const body = new FormData();

        body.set("csrf_token", csrfToken.value);
        body.set("from", "{{ .CRMUserPhoneNumber }}");
        body.set("to", phoneNumber);

        fetch("/call/outbound", {
            method: "POST",
            credentials: "include",
            body: body,
        })
            .then((response) => {
                const token = response.headers.get('X-Csrf-Token');
                if (token) {
                    const tokens = document.querySelectorAll('[name="csrf_token"]');
                    tokens.forEach(csrf_token => csrf_token.value = token);
                }
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .catch(err => {
                alertModal.outerHTML = err.message;
                handleCloseAlertModal();
            });
    }

    function handleMessageLead(phoneNumber) {
        console.log(phoneNumber);
    }
</script>

<script nonce="{{ .Nonce }}">
    const messages = document.getElementById("messages");

    function handleBindLeadActions() {
        const leads = document.querySelectorAll(".leadName");
        const archiveButtons = document.querySelectorAll(".archiveLead");
        const callButtons = document.querySelectorAll(".callLead");
        const messageButtons = document.querySelectorAll(".messageLead");

        // Get Lead Messages
        leads.forEach(lead => {
            const leadId = lead.dataset.leadId;
            lead.addEventListener("click", (e) => handleGetLeadMessages(leadId));
        });

        // Archive leads
        archiveButtons.forEach(btn => {
            btn.addEventListener("click", () => {
                handleArchiveLead(btn.dataset.leadId);
            });
        });

        // Call leads
        callButtons.forEach(btn => {
            btn.addEventListener("click", () => {
                handleCallLead(btn.dataset.leadPhoneNumber);
            });
        });

        // Message leads
        messageButtons.forEach(btn => {
            btn.addEventListener("click", () => {
                handleMessageLead(btn.dataset.leadPhoneNumber);
            });
        });
    }

    function handleGetLeadMessages(leadId) {
        fetch(`/crm/message/${leadId}`, {
            method: "GET",
            credentials: "include",
        })
            .then((response) => {
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                messages.innerHTML = html;
                handleBindMessageActions();
            })
            .catch(console.error);
    };

    function handleGetLeadsWithMessages() {
        const leadsWithMessages = document.getElementById("leadsWithMessages");

        fetch(`/crm/message/leads`, {
            method: "GET",
            credentials: "include",
        })
            .then((response) => {
                if (response.ok) {
                    return response.text();
                } else {
                    return response.text().then((err) => {
                        throw new Error(err);
                    });
                }
            })
            .then(html => {
                leadsWithMessages.innerHTML = html;
                handleBindLeadActions();
            })
            .catch(console.error);
    };

    document.addEventListener("DOMContentLoaded", () => handleBindLeadActions());
</script>

<script src="{{ .StaticPath }}/main.js" nonce="{{ .Nonce }}"></script>
{{ end }}